---
---

$theme-colors: (
    primary: #165e83,
    secondary: #f7f3df,
    success: #0094c8,
    danger: #c70092,
    warning: #92c700,
    info: #0094c8,
    light: #ebebeb,
    dark: #004b66,
    muted: #f7f3df,
    link: #0094c8,
  );

$body-bg: var(--white);
$body-color: var(--dark);

@import 'bootstrap/bootstrap';

h1 {
    padding: 0.5rem;
}

a  {
    color: var(--link);
    &:hover {
        color: var(--dark);
    }
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
        display: block;
        padding: 1rem;
        color: var(--secondary);
        background-color: var(--primary);
    }
    a:hover {
        color: var(--primary);
        background-color: var(--light);
    }
}

.navbar {
    padding: 0;
}
.navbar-nav {
    a {
        display: block;
        padding: 1rem;
        color: var(--secondary);
        background-color: var(--primary);
    }
    a:hover {
        color: var(--primary);
        background-color: var(--secondary);
    }
}

.full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;  
    margin-left: -50vw;
 }
 
 .full-width-image img {
   width: 100%;
 }

#main {
    position: relative;
    .catch-copy {
        position: absolute;
        top: 30%;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: var(--secondary);
        background-color: var(--dark);
        @include media-breakpoint-down(xs) {
            top: 20%;
        }
    }
    .body-copy {
        position: absolute;
        bottom: 10%;
        width: 80%;
        margin-left: 10%;
        padding: 10px;
        display: block;
        text-align: center;
        color: var(--secondary);
        background-color: var(--dark);
        @include media-breakpoint-down(xs) {
            position: relative;
            top: 0;
            width: 100%;
            margin-left: 0;
        }
    }
}

#news {
    ul {
        height: 200px;
        overflow: auto;
    }
}

#projects {
    .card-deck .card {
        margin: 0 1px;
    }
}